{
"isMaster"        :1,
"masterAddress"   :"localhost",


"latestTradesFile":"../stockStuff/latestTrades.json",
"webDataFile"     :"../stockStuff/webData.json",
"updateListTime"  :45,
"buyTime"         :10,

"minBuyPow"       :10,
"buyPowMargin"    :1.5,
"minDolPerStock"  :5,
"minPortVal"      :50,
"sellUp"          :1.19,
"sellDn"          :0.7,
"sellUpDn"        :0.98,


"isPaper"         :0,
"keyFile"         :"../stockStuff/apikeys.txt",


"stockDataDir"    :"../stockStuff/stockData/",

"simMinPrice"     :0.8,
"simMaxPrice"     :5,
"simMinVol"       :300000,

"simDays2look"    :25,
"simWait4fall"    :3,
"simStartDateDiff":1,
"simFirstJumpAmt" :1.3,
"simSellUp"       :1.2,
"simSellDn"       :0.5,

"simVolAvgDays"   :60,
"simChkPriceDays" :30,
"simChkPriceAmt"  :1.7,
"simVolGain"      :3,
"simVolLoss"      :0.5,
"simPriceDrop"    :0.4
}
