#stockbot config file


#settings related to master/slave (this part is incomplete)
[Master Info]
#tells the program whether this is the master or not
isMaster = 1
#tells the program where the master is located (only used if isMaster is false)
masterAddress = localhost

#where file locations are relative to the top level file
[File Locations]
#where the latest trades are recorded
latestTradesFile = ../stockStuff/latestTrades.json
#optionally generated json file to use in an external webserver
webDataFile = ../stockStuff/webData.json
#where the API keys are stored
keyFile = ../stockStuff/apikeys.txt
#where data about stock histories are stored
stockDataDir = ../stockStuff/stockData/

#parameters for timing things
[Time Params]
#update the stock list this many minutes before the next market open
updateListTime = 180
#start buying stocks this many minutes before the market closes
buyTime = 10

#trading parameters used in the real world
[Sell Params]
#trigger to sell a stock if it gains this much either from the buy price or on the day
sellUp = 1.19
#sell the stock if it triggered up, then falls to this amount (e.g. if sellUp=1.2 and sellUpDn=0.98, then the stock would need to go to 98% of that (17.6% from the initial value)
sellUpDn = 0.98
#sell the stock if it falls to this % either from the buy price or on the day (e.g. if this is 0.7, then it must fall 30%)
sellDn = 0.7
#number of weeks to wait until starting to squeeze (reducing sellUp and increasing sellDn)
startSqueeze = 5
#number of weeks after startSqueeze weeks to squeeze to a 0% P/L
squeezeTime = 4



#parameters indicating whether we should buy something
[Buy Params]
#only buy the stock if we hold less than this % of the outstanding shares (0.0x = x% of outstanding shares)
maxVolPerc = 0.0025

#parameters regarding account values such as minimum value to hold and whether to use paper trading or not
[Account Params]
#amount able to be withdrawn/minimum cash to hold
minBuyPow = 1000
#additional cash to also hold onto beyond the minBuyPow (e.g. if minBuyPow is 1000 and buyPowMargin is 1.1, then the program should only trade with money that is <1000 or >1100
buyPowMargin = 1.1
#minimum $ amount to invest in a given stock
minDolPerStock = 5
#minimum portfolio value to hold. TODO: this should be a % of the highest portfolio value
minPortVal = 20000
#determines whether the program should use paper trading or live trading
isPaper = 0


#trading values to use in simulation for the double jump algo (in the goodBuy and getList functions)
[Double Jump Params]
#min price to look at (in USD)
simMinPrice = 0.8
#max price to look at (in USD)
simMaxPrice = 5
#min daily volume to look at
simMinVol = 300000

#days to look for the first jump
simDays2look = 25
#days to wait for the fall of that jump
simWait4fall = 3
#offset that next jump by this many days
simStartDateDiff = 1
#first jump must be at least this much
simFirstJumpAmt = 1.3
#sell if the historical value jumps by this amount in a day
simSellUp = 1.2
#sell if the historical value falls by this amount in a day
simSellDn = 0.5
#average the volume for this many days
simVolAvgDays = 60
#check if the price jumped substantially over the last __ trade days
simChkPriceDays = 30
#check if the price jumped by this much in that last <simChkPriceDays> days
simChkPriceAmt = 1.7
#check that the volume gained this many times over the average during the jump
simVolGain = 3
#check that the volume fell by this much after the jump
simVolLoss = 0.5
#check that the price dropped this much after the jump
simPriceDrop = 0.4


#trading parameters to use in the FDA drug acceptance algo
[FDA Params]
#max share price to look at
maxPrice = 30
#trigger if it reaches this gain %
sellUp = 1.5
#after the trigger point, sell if it drops to this much
sellUpDn = 0.95
#sell the stock if it falls to this loss %
sellDn = 0.9
